Repository BoykaFramework/boyka-framework, pull requests merged in 2022-08, with the labels that each got.

#123 fix(workflow): 💚 updated publish workflow and created release tweet workflow
  .github/workflows/publish.yml
  .github/workflows/tweet-release.yml
  package.json
  website/package.json
  website/src/components/PageHero/index.tsx
  website/src/data/home-page.json
  yarn.lock
Labels: :bug: pr: bug fix

#131 fix(Internal): :bug: fixed pre-commit lint bug
  .husky/commit-msg
  .husky/pre-commit
Labels: :bug: pr: bug fix

#108 test(java): :white_check_mark: added sample tests project to run api and web using boyka dependency
  .github/workflows/codeql.yml
  sample-tests/pom.xml
  sample-tests/src/test/java/com/github/wasiqb/boyka/api/APITests.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/api/requests/BookingData.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/api/requests/BookingDataBuilder.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/api/requests/BookingDates.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/api/requests/PartialBookingData.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/api/requests/TokenBuilder.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/api/requests/Tokencreds.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/EcommerceEndToEndTests.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/actions/CheckoutPageActions.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/actions/ConfirmOrderPageActions.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/actions/HomePageActions.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/actions/MyAccountPageActions.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/actions/OrderSuccessPageActions.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/actions/ProductPageActions.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/actions/RegistrationPageActions.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/actions/RegistrationSuccessPageActions.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/data/BillingData.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/data/RegisterUserData.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/data/TestDataBuilder.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/pages/CheckoutPage.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/pages/ConfirmOrderPage.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/pages/HomePage.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/pages/MyAccountPage.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/pages/OrderSuccessPage.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/pages/ProductPage.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/pages/RegistrationPage.java
  sample-tests/src/test/java/com/github/wasiqb/boyka/ui/pages/RegistrationSuccessPage.java
  sample-tests/src/test/resources/boyka-config.json
  sample-tests/test-suite/testng-api.xml
  sample-tests/test-suite/testng-cloud.xml
  sample-tests/test-suite/testng-grid.xml
  sample-tests/test-suite/testng-web.xml
  sample-tests/test-suite/testng.xml
Labels: :running_woman: pr: performance

#149 feat(workflow): :construction_worker: created and pushed change log file when releasing main version
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: :rocket: pr: new feature

#152 fix(workflow): :bug: fixed Error while creating PR
  .github/workflows/create-main-pr.yml
  .github/workflows/create-staging-pr.yml
Labels: :bug: pr: bug fix

#154 fix(workflow): :bug: fixed Error while preparing pre-release
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/test-core.yml
Labels: :bug: pr: bug fix

#157 fix(workflow): :bug: fixed issue of empty version while releasing pre-release version
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: :bug: pr: bug fix

#160 fix(workflow): :bug: fixed issue creating tags in pre-release workflow
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  package.json
  yarn.lock
Labels: :bug: pr: bug fix

#162 fix(workflow): 🐛 fixed issue creating tags in pre-release workflow
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: :bug: pr: bug fix

#165 fix(workflow): :bug: fixed miscellaneous issues in workflows
  .github/workflows/pre-release.yml
  .github/workflows/test-core.yml
Labels: :bug: pr: bug fix

#174 fix(Internal): 🐛 replaced version dropdown to textbox in issue template
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/update-feature.yml
  CHANGELOG.md
  README.md
  core-java/pom.xml
  lerna.json
  package.json
  website/docs/framework-docs/getting-started/usage.md
  website/package.json
  yarn.lock
Labels: :bug: pr: bug fix

#176 fix(java): :bug: fixed error while parsing non json response
  core-java/src/main/java/com/github/wasiqb/boyka/utils/JsonUtil.java
  core-java/src/test/java/com/github/wasiqb/boyka/testng/others/JsonUtilTest.java
Labels: :bug: pr: bug fix

#178 fix(java): :bug: updated the log4j2 xml to display info level logs in console
  core-java/src/main/resources/log4j2.yml
Labels: :bug: pr: bug fix

#180 fix(Internal): :bug: fixed readme as per suggestions from Eddie
  .github/CONTRIBUTING.md
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .vscode/settings.json
  README.md
  core-java/pom.xml
  package.json
  website/docs/community/our-supporters.md
  website/docs/framework-docs/intro.mdx
  yarn.lock
Labels: :bug: pr: bug fix

#183 fix(java): :bug: fixed errors when browser key is missing or empty in config
  core-java/src/main/java/com/github/wasiqb/boyka/config/ui/WebSetting.java
  core-java/src/main/java/com/github/wasiqb/boyka/enums/Message.java
  core-java/src/main/java/com/github/wasiqb/boyka/manager/DriverManager.java
  core-java/src/main/resources/log4j2.yaml
  core-java/src/test/java/com/github/wasiqb/boyka/testng/others/DriverManagerTest.java
  core-java/src/test/resources/boyka-config.json
Labels: :bug: pr: bug fix

#187 fix(workflow): :bug: fixed issue of test release workflow not getting triggered
  .github/workflows/test-release.yml
  .github/workflows/tweet-release.yml
  package.json
  sample-tests/pom.xml
  yarn.lock
Labels: :bug: pr: bug fix
