Repository BoykaFramework/boyka-framework, pull requests merged in 2024-12, with the labels that each got.

#940 feat(java): :sparkles: added element list and dom property support
  core-java/src/main/java/io/github/boykaframework/actions/elements/ElementActions.java
  core-java/src/main/java/io/github/boykaframework/actions/elements/TextBoxActions.java
  core-java/src/main/java/io/github/boykaframework/actions/interfaces/elements/IElementActions.java
  core-java/src/main/java/io/github/boykaframework/actions/interfaces/listeners/elements/IElementActionsListener.java
  core-java/src/test/java/io/github/boykaframework/testng/ui/theinternet/DropDownTest.java
  core-java/src/test/java/io/github/boykaframework/testng/ui/theinternet/pages/DropDownPage.java
  core-java/test-suites/testng-web-grid.xml
  core-java/test-suites/testng-web-local.xml
  package.json
  pnpm-lock.yaml
  website/package.json
Labels: :rocket: pr: new feature

#946 test(java): :white_check_mark: added swipeTill method test
  .github/workflows/test-core.yml
  core-java/src/test/java/io/github/boykaframework/testng/ui/wdio/WdioDemoTest.java
  core-java/src/test/java/io/github/boykaframework/testng/ui/wdio/pages/SwipePage.java
  core-java/src/test/java/io/github/boykaframework/testng/ui/wdio/pages/WDIOHomePage.java
  core-java/src/test/resources/boyka-config.json
  package.json
  pnpm-lock.yaml
Labels: :running_woman: pr: performance

#950 fix(java): :bug: added support for permissions related capabilities
  .github/workflows/_test-core-java.yml
  core-java/src/main/java/io/github/boykaframework/config/ui/mobile/device/DeviceSetting.java
  core-java/src/main/java/io/github/boykaframework/enums/Message.java
  core-java/src/main/java/io/github/boykaframework/enums/PermissionDecision.java
  core-java/src/main/java/io/github/boykaframework/enums/Permissions.java
  core-java/src/main/java/io/github/boykaframework/manager/AndroidManager.java
  core-java/src/main/java/io/github/boykaframework/manager/IOSManager.java
  core-java/src/test/resources/boyka-config.json
  package.json
  pnpm-lock.yaml
  website/docs/framework-docs/guides/config/configuration.md
Labels: :bug: pr: bug fix

#954 feat(java): :sparkles: added longPress and doubleTap support for mobile
  .github/workflows/test-core.yml
  core-java/pom.xml
  core-java/src/main/java/io/github/boykaframework/actions/elements/FingerActions.java
  core-java/src/main/java/io/github/boykaframework/actions/elements/FingerGestureBuilder.java
  core-java/src/main/java/io/github/boykaframework/actions/interfaces/elements/IFingerActions.java
  core-java/src/main/java/io/github/boykaframework/actions/interfaces/listeners/elements/IFingerActionsListener.java
  core-java/src/main/java/io/github/boykaframework/config/ui/mobile/device/DeviceSetting.java
  core-java/src/main/java/io/github/boykaframework/manager/AndroidManager.java
  core-java/src/main/java/io/github/boykaframework/manager/IOSManager.java
  core-java/src/test/resources/boyka-config.json
  website/docs/api/actions/elements/finger-actions.md
  website/docs/framework-docs/guides/config/configuration.md
Labels: :rocket: pr: new feature

#958 docs(website): :memo: updated the sample file in configuration document
  package.json
  pnpm-lock.yaml
  website/docs/framework-docs/guides/config/configuration.md
Labels: :memo: pr: documentation

#959 feat(java): :zap: updated mouse related actions
  core-java/src/main/java/io/github/boykaframework/actions/CommonActions.java
  core-java/src/main/java/io/github/boykaframework/actions/elements/ClickableActions.java
  core-java/src/main/java/io/github/boykaframework/actions/elements/MouseActionBuilder.java
  core-java/src/main/java/io/github/boykaframework/actions/interfaces/elements/IClickableActions.java
  core-java/src/main/java/io/github/boykaframework/actions/interfaces/listeners/elements/IClickableActionsListener.java
  package.json
  pnpm-lock.yaml
  website/docs/api/actions/elements/clickable-actions.md
Labels: :rocket: pr: new feature

#962 feat(java): :sparkles: updated waitUntil method with timeout param
  core-java/src/main/java/io/github/boykaframework/actions/drivers/DriverActions.java
  core-java/src/main/java/io/github/boykaframework/actions/interfaces/drivers/IDriverActions.java
  core-java/src/main/java/io/github/boykaframework/actions/interfaces/listeners/drivers/IDriverActionsListener.java
  core-java/src/test/java/io/github/boykaframework/testng/ui/theinternet/WindowTest.java
  package.json
  pnpm-lock.yaml
  website/docs/api/actions/drivers/driver-actions.md
  website/docs/api/actions/interfaces/listeners/drivers/driver-actions-listener.md
Labels: :rocket: pr: new feature
